<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Text</title>
</head>
<body>
  <h1>Image</h1>
  <form action="upload_photo" method="POST" enctype="multipart/form-data">
    Upload File: <br><input type="file" name="file"><br>
    <input type="submit" name="submit" value="Submit">
  </form>
  {% for photo_document in photo_documents %}
    <img src="{{photo_document.get('image_public_url')}}" width=200 height=200>
    <p>Top Label Detected using Vision API: {{photo_document.get('top_label')}}</p>
  {% endfor %}

  {% if image_public_url %}
    <h2><a href='/'>View All Images</a></h2>
    <img src="{{image_public_url}}" width=200 height=200>
    <h2>Label Detection:</h2>
    {% for label in labels %}
      {% if 4 > loop.index %}
        <p>{{label.description}}</p>
      {% endif %}
    {% endfor %}
    <br>
    <!-- <p>LABELS</p>
    <div>{{ labels }}</div> -->
  {% endif %}
</body>
</html>