{% extends "layout.html" %}

{% block title %}
  Scan Single Image
{% endblock %}

{% block main %}
  <div id="image-upload" class="split">
    <div id="image-upload-card">
      <div id="inner-image-upload">
        <h1 style="color: #F0F0F0;">Image</h1>
        <form action="tag_photo" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
          <!-- User uploads image from computer -->
          <label for="image-file" style="color: #F0F0F0;">Image file: </label><input type="file" name="file" id="image-file" style="color: #F0F0F0;"><br>
          
          <!-- User inputs an image's link -->
          <label for="image-link" style="color: #F0F0F0;">Image link:</label><br><input type="url" id="image-link" name="image-link">
          <input type="submit" name="submit" value="Submit">
        </form>
      </div>  
    </div>
  </div>
  <div id="image-tag" class="split">
    <div id="image-tag-details">
      {% if image_public_url %}
        <img src="{{image_public_url}}" width=100%>
        <div id="all-labels" style="margin-top: 1.5em; text-align: center;">
          <!-- Labels -->
          {% for label in labels %}
            {% if 4 > loop.index %}
              <span class="tags">{{label.description}}</span>
            {% endif %}
          {% endfor %}
          <br>
          <div class="tooltip" style="margin-bottom: 2.5em; display: inline-block;">
            <button onclick="copyTags()" onmouseout="copiedTags()">
            <span class="tooltiptext" id="tooltipText">Copy tags to clipboard</span>
            Copy
            </button>
          </div>
        </div>
      {% endif %}
    </div>
    
  </div>

  
  <script>
    function validateForm() {
      const file = document.querySelector('#image-file');
      console.log(document.getElementById("image-file").value);
      console.log(document.getElementById("image-link").value);
      if ((document.getElementById("image-file").value == "") && (document.getElementById("image-link").value == ""))
      {
        alert("You must either upload an image or input an image's link.");
        return false;
      }
    }
    </script>
{% endblock %}