{% extends "layout.html" %}

{% block title %}
  Scan Single Image
{% endblock %}

{% block main %}
  <div id="image-tag-card" style="text-align: center">
    <div id="image-tag-details">
      {% if image_public_url %}
        <img src="{{image_public_url}}" width="80%">
        <div id="all-labels" style="margin-top: 1.5em; text-align: center;">
          <!-- Labels -->
          {% for label in labels %}
            {% if 4 > loop.index %}
              <span class="tags">{{label.description}}</span>
            {% endif %}
          {% endfor %}
          <br>
          <div class="tooltip" style="display: inline-block;">
            <button onclick="copyTags()" onmouseout="copiedTags()">
            <span class="tooltiptext" id="tooltipText">Copy tags to clipboard</span>
            Copy
            </button>
          </div>
        </div>
      {% endif %}
    </div>
    
  </div>

  
  <script>
    function validateForm() {
      const file = document.querySelector('#image-file');
      console.log(document.getElementById("image-file").value);
      console.log(document.getElementById("image-link").value);
      if ((document.getElementById("image-file").value == "") && (document.getElementById("image-link").value == ""))
      {
        alert("You must either upload an image or input an image's link.");
        return false;
      }
    }
    </script>
{% endblock %}