{% extends "layout.html" %}

{% block title %}
    Scan Page
{% endblock %}

{% block main %}
  <div id="page-upload" class="split-page">
    <div id="page-upload-card">
      <div id="page-image-upload">
        <h1 style="color: #F0F0F0;">Website</h1>
        {% if page_link %}
          <h2 style="color: #F0F0F0;">Scanning:</h2>
          <a href="{{ page_link }}" style="overflow-wrap: break-word; color: #C4D1DD">{{ page_link }}</a>
        {% endif %}
        <form action="page_scan" style="text-align: left; position: fixed; bottom: 0em;">    
          <button name="try-another-page" id="try-another-page" type="submit" style="text-align: left; font-size: 1em; margin-top: 1.5em; font-weight: 700; text-decoration: underline; background-color: #2A2B2D;">Try another URL</button>
        </form>
      </div>  
    </div>
  </div>
  <div id="page-tag" class="split-page">
    <div id="page-tag-details">
        {% if page_link %}
            <h2>Results:</h2>
            <!-- displays only if there are images in no_alt_images -->
            {% if no_alt_images %} 
                <h3>no_alt_images</h3>
                {% for image in no_alt_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- displays only if there are images in possible_decorative_images -->
            {% if possible_decorative_images %}
                <h3>possible_decorative_images</h3>
                {% for image in possible_decorative_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- displays only if there are images in warning_images -->
            {% if warning_images %}
                <h3>warning_images</h3>
                {% for image in warning_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        {% endif %}
      <!-- {% if image_public_url %}
        <img src="{{image_public_url}}" width=100%>
        <div id="all-labels" style="margin-top: 1.5em; text-align: center;">
          {% for label in labels %}
            {% if 4 > loop.index %}
              <span class="tags">{{label.description}}</span>
            {% endif %}
          {% endfor %}
          <br>
          <div class="tooltip" style="margin-bottom: 2.5em; display: inline-block;">
            <button onclick="copyTags()" onmouseout="copiedTags()">
            <span class="tooltiptext" id="tooltipText">Copy tags to clipboard</span>
            Copy
            </button>
          </div>
        </div>
      {% endif %} -->
    </div>
    
  </div>
{% endblock %}