{% extends "layout.html" %}

{% block title %}
    Scan Page
{% endblock %}

{% block main %}
  <div id="page-upload" class="split-page">
    <div id="page-upload-card">
      <div id="page-image-upload">
        <h1 style="color: #F0F0F0;">Website</h1>
        {% if page_link %}
          <h2 style="color: #F0F0F0;">Scanning:</h2>
          <a href="{{ page_link }}" style="overflow-wrap: break-word; color: #C4D1DD">{{ page_link }}</a>
          <h3 style="color: #F0F0F0;">Critical issues:</h3>
          <h4 style="color: #F0F0F0; font-weight: 400;">No alt attributes: {{ no_alt_images|length }} images</h4>
          <h3 style="color: #F0F0F0;">Warnings:</h3>
          <h4 style="color: #F0F0F0; font-weight: 400;">Empty or null alt attributes: {{ possible_decorative_images|length }} images</h4>
          <h4 style="color: #F0F0F0; font-weight: 400;">Potential poor alt text: {{ warning_images|length }} images</h4>
        {% endif %}
        <form action="page_scan" style="text-align: left; position: fixed; bottom: 0em;">    
          <button name="try-another-page" id="try-another-page" type="submit" style="text-align: left; font-size: 1em; margin-top: 1.5em; font-weight: 700; text-decoration: underline; background-color: #2A2B2D;">Try another URL</button>
        </form>
      </div>  
    </div>
  </div>
  <div id="page-tag" class="split-page">
    <div id="page-tag-details">
        {% if page_link %}
            <h2>Results:</h2>
            <!-- displays only if there are images in no_alt_images -->
            {% if no_alt_images %} 
                <h3 >No alt attributes</h3>
                <p style="font-weight: 400;">Alt text is important for individuals with visual impairments who may otherwise not be able to understand the content presented in the image. If the image is decorative, the alt attribute should be set to empty (alt=“”)</p>
                {% for image in no_alt_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- displays only if there are images in possible_decorative_images -->
            {% if possible_decorative_images %}
                <h3>Empty or null alt attributes</h3>
                <p style="font-weight: 400;">If the images are decorative, empty alt text is fine. However, if the images contain important content, appropriate alt text should be included.</p>
                {% for image in possible_decorative_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- displays only if there are images in warning_images -->
            {% if warning_images %}
                <h3>Potential poor alt text</h3>
                <p style="font-weight: 400;">While alt attributes exist, they do not efficiently describe the content and function of the image. Alt text should not include file extensions. Furthermore, they do not need to announce the type of content presented, as screen-reader tools already do this.</p>
                {% for image in warning_images %}
                    {% if image.labels %}
                        <img src="{{image.url}}" width=100%>
                        <div class="image_labels">
                            {% for label in image.labels %}
                                {% if 4 > loop.index %}
                                <span class="tags">{{label.description}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
        {% endif %}
     
    </div>
    
  </div>
{% endblock %}